.btn-primary {
    background-color: #4E75FF;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}

.btn-primary:hover {
    background-color: #6C8CFF;
}

.btn-secondary {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 8px 16px;
    border-radius: 8px;
    color: grey;
    border: solid 1px grey;
}
